<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class ="loginRegister">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="login" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="register" routerLink="/register">Register</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <!--<div class="container">
        <h1><b>Insert Nice Name</b></h1>
        <p>HR Management DASHBOARD </p>
        <router-outlet></router-outlet>
    </div>-->
  </div>
</body>